[Unit]
Description=Download new wallpaper

[Service]
Type=forking
ExecStart=/home/user/scripts/bash/interfaceliftdownloader/interfacelift.sh -c /home/user/scripts/bash/interfaceliftdownloader/wallpaper.conf

[Install]
WantedBy=default.target
