# Max notifications
max-visible=5

# Font
font={{ font }} 10

# Colors
background-color=#202020BB
text-color={{ color3 }}FF

# Theme
width=400
height=100
margin=10
padding=5
border-size=1
border-color={{ color3 }}BB
border-radius=5
default-timeout=6000
