[submodule "roles/zsh/files/.zsh/zsh-autosuggestions"]
	path = roles/zsh/files/.zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "roles/zsh/files/.zsh/pure"]
	path = roles/zsh/files/.zsh/pure
	url = https://github.com/sindresorhus/pure
[submodule "library"]
	path = library
	url = https://github.com/eoli3n/ansible-packer
[submodule "roles/vim/files/.vim/bundle/vim-sleuth"]
	path = roles/vim/files/.vim/bundle/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
