[submodule "roles/vim/files/.vim/bundle/colorizer"]
	path = roles/vim/files/.vim/bundle/colorizer
	url = https://github.com/lilydjwg/colorizer
[submodule "roles/zsh/files/.zsh/zsh-autosuggestions"]
	path = roles/zsh/files/.zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "roles/zsh/files/.zsh/pure"]
	path = roles/zsh/files/.zsh/pure
	url = https://github.com/sindresorhus/pure
[submodule "roles/i3-wm/files/.i3/i3lock-fancy-multimonitor"]
	path = roles/i3-wm/files/.i3/i3lock-fancy-multimonitor
	url = https://github.com/guimeira/i3lock-fancy-multimonitor
