---
- name: Install xbindkeys
  package:
    name: xbindkeys
    state: present
  become: True

- name: Configure xbindkeys
  copy:
    src: xbindkeysrc
    dest: ~/.xbindkeysrc
    backup: yes

- name: Init xbindkeys in .xprofile
  copy:
    src: xbindkeys.sh
    dest: ~/.xprofile.d/
