#INCLUDE####################################################
# output configuration
set $laptop "eDP-1"
set $screen "DP-3"
set $proj "DP-4"
#output $laptop pos 1920 1330 res 1920x1080 scale 1.4
#output $screen pos 0 1080 res 1920x1080
#output $proj pos 0 0 res 1920x1080
output $laptop pos 3840 309 res 1920x1080 scale 1.4
output $screen pos 1920 0 res 1920x1080
output $proj pos 0 0 res 1920x1080

# TORM
# https://github.com/varietywalls/variety/issues/253
output "*" bg /home/user/img/wallpaper/current_wp.jpg fill

# dpms
output * dpms on

# turn of screen when laptop closed
bindswitch --reload lid:on output $laptop disable
bindswitch --reload lid:off output $laptop enable

#assign workspace to screens
workspace $tag1 output $screen
workspace $tag2 output $laptop
workspace $tag3 output $laptop
workspace $tag4 output $laptop
workspace $tag5 output $laptop
workspace $tag6 output $laptop
workspace $tag7 output $laptop
workspace $tag8 output $laptop
workspace $tag9 output $laptop
workspace $tag10 output $laptop

# exec startup apps
exec --no-startup-id swaymsg 'exec xbindkeys &'
exec --no-startup-id swaymsg 'exec variety &'
exec --no-startup-id swaymsg 'exec firefox'
exec --no-startup-id swaymsg 'exec firefox -no-remote -P "kiosk" -kiosk "www.gmail.com"'
exec --no-startup-id swaymsg 'workspace $tag4; exec termite -e "screen -rd weechat &"'
exec --no-startup-id swaymsg 'workspace $tag2; exec termite -e "ssh-add" && termite'
#INCLUDE####################################################
