#INCLUDE####################################################
# output configuration
set $left "HDMI-A-2"
set $center "HDMI-A-3"
set $right "HDMI-A-1"

output $left pos 0 0 res 1920x1200
output $center pos 1920 0 res 1920x1200
output $right pos 3840 120 res 1920x1080

# dpms
output * dpms on

# exec startup apps
exec --no-startup-id swaymsg 'exec xbindkeys &'
exec --no-startup-id swaymsg 'exec variety &'
exec --no-startup-id swaymsg 'exec firefox'
#exec --no-startup-id swaymsg 'exec firefox -private -kiosk "www.gmail.com"'
exec --no-startup-id swaymsg 'workspace $tag4; exec termite -e "screen -rd weechat &"'
exec --no-startup-id swaymsg 'workspace $tag2; exec termite -e "ssh-add" && termite'
#INCLUDE####################################################
