#INCLUDE####################################################
# output configuration
set $left "HDMI-A-2"
set $center "HDMI-A-3"
set $right "DP-2"
output $left pos 0 0 res 1920x1080
output $center pos 1920 0 res 1920x1080
output $right pos 3840 0 res 1920x1080

# dpms
output * dpms on

# turn of screen when laptop closed
bindswitch --reload lid:on output $laptop disable
bindswitch --reload lid:off output $laptop enable

# assign workspace to screens
workspace $tag1 output $left
workspace $tag2 output $center
workspace $tag3 output $right
workspace $tag4 output $right
workspace $tag5 output $center
workspace $tag6 output $center
workspace $tag7 output $center
workspace $tag8 output $center
workspace $tag9 output $center
workspace $tag10 output $center

# exec startup apps
exec --no-startup-id swaymsg 'exec variety &'
exec --no-startup-id swaymsg 'workspace $tag4; exec kitty -e "tiny"'
exec --no-startup-id swaymsg 'workspace $tag2; exec kitty -e "ssh-add" && kitty'
#INCLUDE####################################################
