#!/usr/bin/env sh

# Terminate already running bar instances
killall -q polybar

# Wait until the processes have been shut down
while pgrep -x polybar >/dev/null; do sleep 1; done

# Launch top and bottom
{% set template = ansible_hostname + '/launch.j2' %}
{% if template|exists %}
{% include template %}
{% else %} 
polybar top &
polybar bottom &
{% endif %}

echo "Bars launched..."
