#INCLUDE####################################################
# output configuration
set $laptop "eDP-1"
output $laptop pos 1920 0 res 1920x1080
output $laptop scale 1.4

# lid
bindswitch --reload lid:on output $laptop disable
bindswitch --reload lid:off output $laptop enable

# dpms
output * dpms on

# exec startup apps
exec --no-startup-id swaymsg 'exec xbindkeys &'
exec --no-startup-id swaymsg 'exec variety &'
exec --no-startup-id swaymsg 'exec firefox'
#exec --no-startup-id swaymsg 'exec firefox -private -kiosk "www.gmail.com"'
exec --no-startup-id swaymsg 'workspace $tag4; exec termite -e "screen -rd weechat &"'
exec --no-startup-id swaymsg 'workspace $tag2; exec termite -e "ssh-add" && termite'
#INCLUDE####################################################
