#INCLUDE####################################################
#assign workspace to screens
workspace $tag1 output HDMI2 HDMI3
workspace $tag2 output HDMI3
workspace $tag3 output HDMI1
workspace $tag4 output HDMI1
workspace $tag5 output HDMI3

# exec startup apps
exec --no-startup-id i3-msg 'exec google-chrome-stable --app=http://mail.umontpellier.fr &'
exec --no-startup-id i3-msg 'exec google-chrome-stable --app=https://gmail.com &'
exec --no-startup-id i3-msg 'exec google-chrome-stable &'
exec --no-startup-id i3-msg 'workspace $tag4; exec termite -e "screen -rd weechat &"'
exec --no-startup-id i3-msg 'workspace $tag2; exec termite'
#INCLUDE####################################################
